<div class="header-nav">
    <div class="h1-and-something">
        <h1>Footer</h1>
        <p style="width: 5em"></p>
    </div>
    <nav class="nav-container">
        <div class="nav-text">All possible links:</div>
        <div class="nav-links">
            <a href="/" class="aesthetic-a-tag">Home (main)</a>
            <a href="/author" class="aesthetic-a-tag">Home (author)</a>
            <a href="/author/settings" class="aesthetic-a-tag">Settings</a>
            <a href="/author/article" class="aesthetic-a-tag">Edit article</a>
            <a href="/reader" class="aesthetic-a-tag">Home (reader)</a>
            <a href="/reader/read-article" class="aesthetic-a-tag">Read article</a>
        </div>
    </nav>
</div>
