<div class="header-nav footer">
    <div class="h1-and-friends-center friend-gap">
        <h1>Footer</h1>
        <p class="friend-page-name">with all possible links</p>
    </div>
    <div class="header-nav-links footer">
        <a href="/">Home (m)</a>
        <a href="/sign-up">Sign up</a>
        <a href="/author">Home (a)</a>
        <a href="/author/create-blog">Create blog</a>
        <a href="/author/settings">Settings</a>
        <a href="/author/article">New article</a>
        <a href="/reader">Home (r)</a>
        <a href="/reader/read-article">Read article</a>
    </div>
</div>
