<div class="header-nav">
    <div class="h1-and-friends-center friend-gap">
        <h1>Footer</h1>
        <p class="friend-page-name">with all possible links</p>
    </div>
    <div class="footer-column-of-rows">
        <div class="footer-row-of-links footer-top">
            <a href="/">Home (main) / Login</a>
            <a href="/sign-up">Sign up</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="footer-row-of-links footer-mid">
            <a href="/author">Home (author)</a>
            <a href="/author/create-blog">Create blog</a>
            <a href="/author/settings">Settings</a>
            <a href="/author/article">New article</a>
        </div>
        <div class="footer-row-of-links footer-bot">
            <a href="/reader">Home (reader)</a>
            <a href="/reader/article">Read article</a>
        </div>
    </div>
</div>
