<div class="header-nav">
    <div class="h1-and-friends-center friend-gap">
        <h1><a href="/" class="aesthetic-a-tag"><%= appName %></a></h1>
        <p class="friend-page-name">@ <%= pageName %></p>
    </div>
    <%if (user) { %>
    <div class="header-nav-links">
        <a href="/logout" class="aesthetic-a-tag">Logout</a>
        <a href="/author" class="aesthetic-a-tag">Home</a>
        <a href="/author/article" class="aesthetic-a-tag">Create new article</a>
        <a href="/reader" class="aesthetic-a-tag">Read</a>
    </div>
    <%} %>
</div>
