<div class="header-nav">
    <div class="h1-and-friends-center friend-gap">
        <h1><a href="/" class="aesthetic-a-tag"><%= appName %></a></h1>
        <p class="friend-page-name">@ <%= pageName %></p>
    </div>
    <%if (user) { %>
    <a href="/" class="aesthetic-a-tag">Home</a>
    <a href="/logout" class="aesthetic-a-tag">Logout</a>
    <a href="/author" class="aesthetic-a-tag">Articles</a>
    <a href="/author/settings" class="aesthetic-a-tag">Settings</a>
    <a href="/author/article" class="aesthetic-a-tag">Create new article</a>
    <a href="/reader" class="aesthetic-a-tag">Blogs</a>
    <%} else{ %>
    <a href="/" class="aesthetic-a-tag">Home (login)</a>
    <a href="/sign-up" class="aesthetic-a-tag">Sign up</a>
    <a href="/reader" class="aesthetic-a-tag">Blogs</a>
    <%} %>
</div>
