<!-- Temporary, just to differentiate from body -->
<div class="header-nav">
    <h1><a href="/"><%= appName%></a></h1>
    <p>@ <%= pageName%></p>
    <nav>
        <div class="nav-section">
            <span><i>"Admin control"</i> for author</span>
            <div class="nav-links">
                <a href="/author">Home</a>
                <a href="/author/settings">Settings</a>
                <a href="/author/article">(New) Article</a>
            </div>
        </div>

        <div class="nav-section">
            <span><i>"Admin control"</i> for reader</span>
            <div class="nav-links">
                <a href="/reader">Home</a>
                <a href="/reader/read-article">Read article</a>
            </div>
        </div>
    </nav>
</div>
