<!-- Temporary, just to differentiate from body -->
<div class="header-nav">
    <h1><a href="/"><%= appName%></a></h1>
    <p>@ <%= pageName%></p>
    <nav>
        <div class="nav-section">
            <span>"Admin control" for author</span>
            <a href="/author">Home</a>
            <a href="/author/settings">Settings</a>
            <a href="/author/article">(New) Article</a>
        </div>

        <div class="nav-section">
            <span>"Admin control" for reader</span>
            <a href="/reader">Home</a>
            <a href="/reader/read-article">Read article</a>
        </div>
    </nav>
</div>
