<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("./partials/header-nav.ejs") %></header>

        <main>
            <h1>Welcome to <%= appName %>!</h1>
            <p class="no-margin-top">This is my DNW Midterm submission :)</p>

            <p>If you're <strong>lost</strong>, refer to the <strong>tab name</strong> or <strong>title page</strong> at top-left corner.</p>

            <p>The <strong>header</strong> only displays <u>relevant options</u> to you as your current role.</p>
            <p class="no-margin-top">While the <strong>footer</strong> has <u>every possible link</u> for easy navigation.</p>

            <p>To access as a pre-set author, "admin" is both the username and password.</p>

            <a href="/login"><button class="btn btn-primary">To author home page</button></a>
            <a href="/reader"><button class="btn btn-primary">To reader home page</button></a>
        </main>

        <footer><%- include("./partials/footer.ejs") %></footer>
    </body>
</html>
