@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --background: #1c1c1c;
    --background-light: #3c3c3c;

    --text-dim: #999999;
    --text: #eeeeee;

    --primary-dim: #138d70;
    --primary: #1dc8a0;
    --primary-light: #a3e7d7;
    /* --secondary: #2a7fcf; */
    /* --secondary-light: #abc8e4; */
    /* --accent: #f0f0f0; */

    /* --links: var(--primary); */
    /* --links-hover: var(--primary-light); */

    /* --enabled: #5b8afe; */
    /* --disabled: #151c2f; */

    --alert-dim: #a09e46;
    --alert: #eceb83;
    --warning-dim: #a74d4d;
    --warning: #ff8080;
}

/* General */
html {
    /* From Poppins to monospace so that i can see differences clearly */
    font-family: "Poppins", monospace, sans-serif;
}
body {
    /* <body> has <header>, <main>, <footer> */
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}
/* TEST */
main {
    margin: 0 10vw;
    /* border: 1px solid red; */
}
a:link,
a:visited {
    color: var(--primary);
}
a:hover:not(.reader-display-container *) {
    color: var(--primary-light);
}
/* .main-read-article {
    padding: 0 25vw;
} */
.text-dim {
    color: var(--text-dim);
}

/* header-nav.ejs and footer.ejs */
.header-nav {
    background-color: var(--background-light);
    color: var(--text);
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em;
}
footer {
    margin: 2.5em 0 0 0;
}
footer * {
    color: var(--text-dim);
}
.footer-column-of-rows {
    display: flex;
    flex-direction: column;
}
.footer-row-of-links {
    display: flex;
}
.footer-row-of-links:first-child {
    gap: 2.1em;
}
.footer-row-of-links:first-child a:last-child {
    margin: 0 0 0 5.1em;
}
.footer-row-of-links:not(:first-child) {
    gap: 5em;
}
.footer-top,
.footer-top a:link,
.footer-top a:visited {
    color: var(--primary-dim);
}
.footer-top a:hover {
    color: var(--primary);
}
.footer-mid,
.footer-mid a:link,
.footer-mid a:visited {
    color: var(--alert-dim);
}
.footer-mid a:hover {
    color: var(--alert);
}
.footer-bot,
.footer-bot a:link,
.footer-bot a:visited {
    color: var(--warning-dim);
}
.footer-bot a:hover {
    color: var(--warning);
}
.aesthetic-a-tag {
    text-decoration: none;
    transition: 0.3s ease;
}
.aesthetic-a-tag:hover:not(h1 > a) {
    font-weight: bolder;
    font-size: larger;
}
.h1-and-friends-column {
    display: flex;
    flex-direction: column;
}
.h1-and-friends-center {
    display: flex;
    align-items: center;
}
.h1-and-friends-baseline {
    display: flex;
    align-items: baseline;
}
.h1-and-friends-centralise {
    display: flex;
    justify-content: center;
}
.friend-gap {
    gap: 0.5em;
}
.friend-page-name {
    width: 15em;
}
.friend-display-name {
    color: var(--primary);
}
.friend-exclamation-mark {
    margin: 0 0 0 -0.25em;
}
.friend-column-no-gap-above {
    margin-top: -0.5em;
}

/* index.ejs */
.form-width-25 {
    width: 25em;
}
.form-width-50 {
    width: 50em;
}
.form-input-area {
    padding: 0 0 2.5em 0;
}
.form-input-area label {
    color: var(--primary);
    font-weight: bold;
}
.form-input-area input:not(input[type="submit"]) {
    margin: 0.5em 0 0 0;
    width: 100%;
    box-sizing: border-box;
}
.form-input-area p {
    margin: 0;
}
button,
input[type="submit"] {
    color: var(--background);
    cursor: pointer;
    transition: 0.3s ease;
}
.btn {
    padding: 0.5em 1em;
    margin: 0 1em 2em 0;
}
.btn-med {
    padding: 0.5em 1em;
}
.btn-small {
    padding: 0.25em 0.75em;
}
.btn-long {
    width: 50%;
}
.btn-normal {
    background-color: var(--text);
}
.btn-normal:hover {
    background-color: var(--text-dim);
}
.btn-primary {
    background-color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--primary-dim);
}
.btn-alert {
    background-color: var(--alert);
}
.btn-alert:hover {
    background-color: var(--alert-dim);
}
.btn-warning {
    background-color: var(--warning);
}
.btn-warning:hover {
    background-color: var(--warning-dim);
}
.error-message {
    position: absolute;
    color: var(--warning);
}

/* home.ejs (author) */
.categories-of-articles-container {
    min-width: 900px;
}
.categories-of-articles-container h2 {
    color: var(--primary);
    margin: 0;
    padding: 0;
}
.categories-of-articles-container table:not(:last-child) {
    margin: 0 0 2em 0;
}
table {
    border: 1px solid var(--primary-light);
    text-align: left;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}
tr:nth-child(even) {
    background-color: var(--background-light);
}
th {
    color: var(--primary-light);
}
td {
    color: var(--text);
}
td.subtitle {
    color: var(--text-dim);
}
th,
td {
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table .title,
table .subtitle {
    margin-right: auto;
}
table .views,
table .likes {
    width: 4em;
    text-align: center;
}
table .date-created,
table .date-modified {
    width: 8em;
}
table:last-child {
    /* This tip is from https://www.youtube.com/watch?v=jlvwSorkdIo */
    margin-left: auto;
}
table .actions-row-of-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

/* article.ejs' rich text editor */
.rich-text-editor-container {
    color: var(--text);
    /* Not setting width and height as it needs to adjust to its content */
    display: inline-block;
}
.rich-text-editor-container button {
    margin: 0 0 1em 0;
    height: 2em;
    width: 2em;
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: none;
    background-color: var(--text);
    outline: none;
    color: var(--background);
}
.rich-text-editor-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 0.8em;
    padding: 0.8em 0 0 0;
}
/* Hover effect for everything except some items */
.rich-text-editor-options-container *:hover:not(
    /* Format */
    .rich-text-editor-options-container,
    .active,
    .active *,
    .rich-text-editor-color-picker-container,
    .rich-text-editor-color-picker-container *) {
    background-color: var(--primary-light);
    border-radius: 5px;
}
.rich-text-editor-options-container *:active:not(
    /* Format */
    .rich-text-editor-options-container,
    .active,
    .active *,
    .rich-text-editor-color-picker-container,
    .rich-text-editor-color-picker-container *) {
    background-color: var(--primary);
}
.rich-text-editor-options-container .active {
    background-color: var(--primary);
}
.rich-text-editor-options-container select {
    background-color: var(--text);
    border: none;
    border-radius: 5px;
    height: 2em;
    outline: none;
    cursor: pointer;
}
.rich-text-editor-options-container select option {
    background-color: var(--text);
    font-size: 1.25em;
    cursor: pointer;
}
.rich-text-editor-color-picker-container {
    width: 1.6em;
    height: 1.6em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.rich-text-editor-color-picker-container .color-picker-label {
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rich-text-editor-color-picker-container .color-picker {
    border: transparent;
    background-color: transparent;
    width: 120%;
    height: 140%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: -0.85em;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
}
input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
}
#text-input {
    background-color: var(--background-light);
    border: 1px solid var(--background);
    padding: 0.5em;
    height: 25vmin;
    resize: both;
    overflow: auto;
    min-width: calc(570px - 1em);
}
/* Has a bug that messes up margin/padding when switching from big to small size
Thus, reset those upon selection */
#text-input * {
    margin: 0;
    padding: 0;
}

/* home.ejs (reader) */
.reader-title-container {
    display: flex;
    justify-content: center;
}
.reader-title-container-with-back-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.reader-title-container-with-back-btn a {
    position: absolute;
    top: 2.5em;
}
.reader-title-itself {
    margin: 0 auto;
    text-align: center;
}
.reader-title-itself p {
    margin: -1.5em 0 1em 0;
}
.no-underline {
    text-decoration: none;
}
.reader-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reader-display-items {
    background: var(--background-light);
    width: calc(43% - 2em);
    padding: 2em;
    margin: 0 0 2em 0;
}
.reader-display-items h2 {
    color: var(--primary);
    margin: 0;
}
.reader-display-items h3 {
    color: var(--text-dim);
    margin: 0;
    font-weight: normal;
}
.reader-display-items p {
    color: var(--text);
}
.reader-display-views-likes {
    color: var(--text-dim);
    margin: 2em 0 0 0;
}
.reader-display-views-likes p {
    margin: 0;
}

/* TODO */
/* read-article.ejs */
.read-views-and-likes {
    margin: 0 0 2em 0;
    color: var(--text-dim);
}
.read-views-and-likes p {
    margin: 0;
}
.comments-section h2 {
    color: var(--primary);
}
.one-comment {
    margin: 0 0 2em 0;
}
