/* TODO */
/* when form error shows up, it moves everything below it downwards */
/* colour-code buttons */

/* Overall */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #272727;
    --white: #fafafa;

    --primary: #cfddff;
    /* --secondary: #000000; */
    /* --tertiary: #000000; */

    --link: #5b8afe;
    --link-hover: #2552c4;

    /* --enabled: #5b8afe; */
    /* --disabled: #151c2f; */

    /* --success: #5def8d; */
    --warning: #ff5b64;
}

html {
    font-family: "Poppins", monospace, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: 0 1em;
}

a:link,
a:visited {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

button {
    width: fit-content;
    cursor: pointer;
}

.error-message {
    color: var(--warning);
}

/* header-nav.ejs */
.header-nav {
    background-color: var(--black);
    color: var(--white);
    margin: 0 -1em;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav h1 {
    width: fit-content;
    padding: 0 0.5em 0 0;
}

.header-nav p {
    width: 25%;
}

.header-nav nav {
    display: flex;
    flex-direction: column;
}

.nav-section {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

.nav-links a {
    margin: 0 0 0 3em;
}

/* home.ejs (author) */
.title-container {
    display: flex;
    align-items: baseline;
}

.title-container p {
    padding: 0 0 0 0.5em;
}

.setting-draft-buttons {
    margin: 0 0 2em 0;
}

table {
    border: 1px solid var(--black);
    margin: 0 0 3em 0;
    text-align: left;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

th,
td {
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table .title,
table .subtitle {
    width: 15%;
}

table .views {
    width: 4em;
}

table .likes {
    width: 3em;
}

table .date-created,
table .date-modified {
    width: 8em;
}

table .actions {
    width: auto;
}

tr:nth-child(even) {
    background-color: var(--primary);
}

td form {
    display: inline;
}

/* settings.ejs, article.ejs */
form {
    width: 25%;
}

form label {
    font-weight: bold;
}

form input {
    width: 100%;
}

form textarea {
    width: 50vw;
    height: 25vh;
}

form input[type="submit"] {
    width: fit-content;
    cursor: pointer;
}

.form-input-area {
    padding: 0 0 2em 0;
}

.form-input-area p {
    margin: 0;
}

/* home.ejs (reader) */
.title-container-reader {
    text-align: center;
}

.title-container-reader p {
    margin: -1.5em 0 0 0;
}

.published-article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.published-article {
    background: var(--primary);
    padding: 2em 2em;
    margin: 2em;
    width: calc(50% - 4em);
    box-sizing: border-box;
}

.published-article h2 {
    margin: 0;
}

.published-article h3 {
    margin: 0 0 1em 0;
    font-weight: normal;
}

.published-article .body {
    display: inline;
}

.read-more {
    color: var(--link);
}

.read-more:hover {
    color: var(--link-hover);
}

.views {
    margin: 0 0 -1em 0;
}

.likes {
    margin: 0 0 -1em 0;
}
